<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Page First</title>
    <meta charset="utf-8">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

<body>
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/aboutus" class="nav-link">About Us</a>
                    </li>
                </ul>
            </div>
        </div>

      
    </nav>


    <h1>About Us Page</h1>
  </body>
</html>
